body{
    height: 100%;
    width: 100%;
    background-color:#68cdd5
}
.back{
    width: 75px;
    height: 65px;
    
}
.logo{
    width: 190px;
    height: 85px;
    margin: 0 auto;
      
}
.top{
    color: white;
    margin-top: 5rem;
    padding-right: 15%;
    padding-left: 15%;
}

p{
    font-size: 16px;font-size: 1rem;
    color: white;
    margin-top: 1rem;
    text-align: center;
}

.number{
    float: left;
    margin-top: 12rem;
    margin-left: 15%;
    text-align: center;      
}

.address{
    float: right;
    margin-top: 12rem;
    margin-right: 15%;
    text-align: center;    
}

.address img, .number img {
     width: 80%;
     height: auto;
 }
