body{
    margin: 0;
    padding: 0;
    padding-bottom: 4rem;
}
header{
    height: 4rem;
    width: 100%;
    text-align: center;
    line-height: 4rem;
    font-size: 0;
    background-color: #5fc0cd;
}

.logo{
    float: right; 
    width: 45px;
    height: 45px; 
    cursor: pointer; 
}
.about1, 
.about2{
    display: inline-block;
    text-align: center;
    line-height: 3rem;
    font-size: 1.2rem;
    height: 50px;
    width: 90px;
    border-radius: 5px;
    cursor: pointer;
    
}
.top{
    position: relative;
    top: .4rem;
    
    
    
}
.about1{
    color: #fff;
    background-color: #55a8b3;
}
.about2{
    color: #5fc0cd;
    background-color: #fff;
}
select{
    border: none;
    height: 2.5rem;
    width: 32%;
    text-align: justify;
    text-align-last: center;
}
.money{
    float: right;
    color: #ff0000;
}

.day,
.where2 {
    font-size: 14px;
    color: #808080;
}
.back, 
.data,
.where {
    width: 15px;
    height: 18px;   
}
.where{
    display: block;
}
.where2{
    position: relative;
    left: 0.9rem;
    bottom: 1rem;
}
.time{
    padding-left: 20px;
}
.data,
.back,
.where{
    position: relative;
    top:3px
}
footer{
    display: flex;
    position: fixed;
    width: 100%;
    height: 6rem;
    bottom: 0;
    background-color: #fff;
}

.box7{
    
    justify-content: space-around;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6 {
    height: 5rem;
    line-height: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;
}

.home,
.myself,
.talk,
.back,
.money {
    cursor: pointer;
}   
    






