body{
    margin: 0;
    padding: 0;
    padding-bottom: 4rem;
    
    
}
header{
    position: relative;
    height: 4rem;
    width: 100%;
    background-color: #4682B4;
    z-index: 1;
}
.back{
    position: absolute;
    top: 15%;
    cursor: pointer;
}
.home{
    width: 100%;
    display: inline-block;
    text-align: center;
    line-height: 4rem;
    font-size: 1.2rem;
}
.content{
    
    width: 100%;
    background-image: url(./img/bj.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.name{
    position: relative;
    bottom: 85px; 
     
}
.address{
    margin-left: -93px;
    position: relative;
    bottom: 53px;   
    
}
.room{
    position: relative;
    bottom: 60px;
    
}
.photo{
    position: relative;
    top: 15px;
    transform: scale(0.7);
    
    
    
    
}
.box1{
    padding-left: 10px;
    height: 4rem;
    border-bottom: 1px solid #808080;
}

.box2, 
.box3, 
.box4, 
.box5{
    text-align: left;
    height: 4rem;
    padding-left: 2rem;
    border-bottom: 1px solid #808080;
    background-color: #fff;
}

span, 
.logo, 
.star, 
.middle{
    line-height: 4rem;
    vertical-align: middle;
}
.middle{
    margin: 3px;
    margin-left: 5px;
    padding: 5px;
}
.box6{
    display: flex;
    align-items: center;
    padding-left: 2rem;
    
    
}
.myself{
    
    flex-shrink: 0;
}
.hobbies{
    line-height: 2rem;
    padding-right: 10px;

}
footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 3rem;
    background-color: #fff;
    
}
.message, 
.telephone{
    display: inline-block;
    margin: 5px;
    line-height: 2rem;
    width: 42%;
    border: 1px solid #4682B4;
    border-radius: 5px;
}

.message{
    margin-left: 10px;
    color: #4682B4;
}
.telephone{
    margin-right: 10px;
    color: #fff;
    background-color: #4682B4;
}
.message, .telephone:hover{
    
    cursor: pointer;
}
